.main_bar1{
    color: white;
   
    background-color: rgb(103, 163, 241);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 40px;
    align-self: center;
    
}